$def with (hostname, kwargs)
$code:
	po = kwargs.get('po')
$var title: ${po.uri}
$var hostname: ${hostname}

<p>Hi, someone wants to tip or make a payment at paythru.to/${po.uri}. We noticed that you already have a published address, so we're using <samp>${po.address}</samp>. If that's not right, visit your page linked above and click the re-claim button after making any changes to your <a href="http://${hostname}/about#published-methods">publishing method</a>.</p>
<hr />
<p><img src="http://${hostname}/static/img/bitcoin_logo.png" title="Bitcoin logo" style="float: left; margin-right: 1em;" />New to Bitcoin? Learn more about how Bitcoin is used to send money over the internet at <a href="https://www.weusecoins.com/">We Use Coins</a> or get started now by <a href="http://bitcoin.org/en/choose-your-wallet">choosing a wallet</a>.</p>

